<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <app-back-button [title]="backText"></app-back-button>
    <app-header
      [title]="data.details?.name!"
      [description]="data.details?.division!"></app-header>
    <div class="details-container" data-testid="address-card">
      <app-card>
        <div class="card-header">
          <p class="card-title">Address</p>
        </div>
        <p class="card-body">{{ data.details?.address! }}</p>
        <p class="card-body">{{ data.details?.city! }},</p>
        <p class="card-body">{{ data.details?.country! }}</p>
        <p class="card-body">{{ data.details?.phone }}</p>

        <div class="card-header">
          <p class="card-title">Manager</p>
        </div>
        <p class="card-body">{{ data.details?.manager! }}</p>
      </app-card>

      <div>
        <app-header title="Description" description=""></app-header>
        <app-card>
          <p class="card-body">{{ data.details?.description! }}</p>
        </app-card>
      </div>
    </div>
  </div>
</ng-container>
