<div class="container">
  <app-back-button [title]="backText"></app-back-button>
  <app-header [title]="title" [description]="description"></app-header>
  <div class="details-container">
    <app-card>
      <div class="card-header">
        <p class="card-title">Address</p>
      </div>
      <p class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro,
        maxime ipsum
      </p>

      <div class="card-header">
        <p class="card-title">Manager</p>
      </div>
      <p class="card-body">Lorem ipsum dolor</p>
    </app-card>

    <div>
      <app-header title="Description" description=""></app-header>
      <app-card>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro,
          maxime ipsum aspernatur aliquid quidem fugit repellat, excepturi
          laudantium, similique fugiat? Culpa beatae omnis delectus provident
          accusantium ducimus enim consequuntur?
        </p>
      </app-card>
    </div>
  </div>
</div>
