// media aliases and breakpoints
$screen-mobile-min: 320px;
$screen-tablet-min: 768px;
$screen-desktop-min: 1025px;

$screen-mobile-max: 767px;
$screen-tablet-max: 1024px;

// media devices
@mixin mobile {
  @media screen and (min-width: #{$screen-mobile-min}) and (max-width: #{$screen-mobile-max}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$screen-desktop-min}) {
    @content;
  }
}
