// media aliases and breakpoints
$screen-mobile-min: 320px;
$screen-tablet-min: 768px;
$screen-desktop-min: 1025px;

$screen-mobile-max: 767px;
$screen-tablet-max: 1024px;

// media devices
@mixin mobile {
  @media screen and (min-width: #{$screen-mobile-min}) and (max-width: #{$screen-mobile-max}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$screen-desktop-min}) {
    @content;
  }
}

// Fonts
@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('assets/fonts/avenir-next-demi.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('assets/fonts/avenir-next-regular.ttf') format('truetype');
}

// Brand colors

$primary-button-color: #406de4;
$dark-Header: #323a47;
$dark-Background: #4e5b6f;
$light-background: #f3f4f6;
$green-text-color: #0f9f8a;
